/*Profile*/

.pro-img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #dcdcdc;
  margin-bottom: 1.5rem;
}

.pro-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile h1 {
  margin-bottom: 2rem;
}

.user-profile p {
  margin-bottom: 0;
}

.update-profile-btn {
  width: 100%;
}
.profile-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 1rem;
}

.profile-list li {
  padding: 0.5rem;
}
