/*Add comments style*/

.add-comment-wrapper {
  width: 100%;
  margin-bottom: 2rem;
}
.add-comment-form {
  max-width: 500px;
  padding: 0 1rem 0 1rem;
}
.add-comment-btn {
  width: 130px;
}

/*Edit comments/ comments list */

.comments h3 {
  margin-bottom: 1rem;
}

.comment {
  padding: 1rem;
  border-bottom: 1px solid rgb(187, 187, 187);
}

.comment:first-of-type {
  border-top: 1px solid rgb(187, 187, 187);
}

.edit-comment-form {
  display: none;
  max-width: 500px;
}

.comment-bottom,
.comment-top {
  padding: 0;
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.comment-bottom li {
  padding-right: 0.5rem;
}
.comment-top p:first-of-type {
  padding-right: 0.5rem;
}

.show-edit {
  display: flex;
}

.comment-text {
  display: flex;
}

.hide-text {
  display: none;
}

.save-edit-btn {
  margin-top: 0;
}
