/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes fromTop {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

/* Add animation (Standard syntax) */
@keyframes fromTop {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

/* The modal's background */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* The modal box */
.modal-dialog {
  display: table-cell;
  vertical-align: middle;
}

/* The modal's content */
.modal-dialog .modal-content {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  outline: 0;
  border: 1px #777 solid;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-modal-content {
  -webkit-animation-name: fromTop;
  -webkit-animation-duration: 0.5s;
  animation-name: fromTop;
  animation-duration: 0.5s;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-modal {
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
}

/* The button used to close the modal */
.closebtn {
  position: absolute;
  z-index: 1000;
  right: 0px;
  border: none;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  margin: 0.5rem;
}

.closebtn:hover,
.closebtn:focus,
.closebtn:active {
  border: hidden;
  outline: none;
}
.close-modal:hover path,
.close-modal:focus path,
.close-modal:active path {
  fill: var(--main-orange);
  transition: fill 0.3s ease;
}

.modal-question {
  padding: 3rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
}

.modal-btn-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 2rem 0rem;
}

.modal-btn-container form {
  padding-right: 0rem;
}

.modal-btn {
  width: 70px;
  margin: 0 0.6rem 0 0.6rem;
}
