* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #f6f6f0;
}

.body-modal-open {
  position: fixed;
}

h1 {
  margin-bottom: 1rem;
}

main {
  padding-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
}

.btn {
  margin-top: 1rem;
}

/*
textarea {
  resize: none;
}*/

@media screen and (min-width: 1400px) {
  /* main {
    padding: 50px 1rem 0rem 1rem;
  }*/
}

:root {
  --main-orange: #ee6f2d;
}
