.log-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  padding: 0.3rem 0rem 0.3rem 0rem;
}

.form-group label {
  padding-bottom: 0.3rem;
}

.form-control {
  width: 100%;
}

.log {
  padding: 1rem;
  width: 100%;
  max-width: 400px;
}

.log:first-of-type {
  margin-bottom: 2rem;
}

.log-btn {
  width: 100%;
}
