header {
  background-color: var(--main-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 1rem 0 1rem;
  position: fixed;
  z-index: 100;
}

.ham {
  position: absolute;
  z-index: 100;
  left: 15px;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("menu.SVG");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.ham:focus {
  outline: none;
}

.show-close {
  background-image: url("closeMenu.SVG");
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}

.show-nav {
  transform: translateY(0);
}

.navbar-nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 1rem 0 1rem 0;
}

.loading .navbar {
  transition: none;
}

a {
  color: black;
}

.navbar-brand {
  margin-right: 0;
}
