/*Posts user submits*/

.post {
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 1rem 1rem 0rem 1rem;
}
.post:first-of-type {
  border-top: 1px solid grey;
  margin-top: 1rem;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-left {
  display: flex;
  align-items: center;
}

.top-left p,
.vote,
.vote-offline {
  padding-right: 0.5rem;
}

.vote,
.vote-offline {
  align-self: start;
}

.vote-btn,
.vote-btn-offline {
  width: 20px;
  height: 17px;
  border: 0;
  outline: none;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.vote-btn:focus {
  outline: none;
  border: 0;
}

.post-content {
  width: 100%;
  overflow-wrap: break-word;
}

.post-content h3 {
  padding-bottom: 0.7rem;
  line-height: 2rem;
}

.bottom {
  height: 100%;
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.bottom li {
  padding-right: 0.5rem;
}

.delete-btn-on-post {
  border: none;
  background-color: transparent;
  color: rgb(202, 37, 18);
  padding: 0;
}

.delete-btn-on-post:focus,
.delete-btn-on-post:active,
.delete-btn-on-post:hover {
  outline: none;
  color: rgb(159, 32, 18);
}

/*The read more 'button'. When you click on it it will show full article*/
details {
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 0.5rem;
  list-style-type: none;
}

details p {
  font-weight: normal;
  margin-bottom: 0;
}

/*When the Show Full Article not is open the 'hide Article' is hidden*/
.close-details {
  display: none;
}

/*Hides the 'Show Full Article' text when it its open*/
details[open] .open-details {
  display: none;
}

/*Now the 'Hide Article' shows up*/
details[open] .close-details {
  display: unset;
}

details[open] summary {
  margin-bottom: 0.2rem;
}

summary {
  /*transition: 0.5s ease;*/
  outline: none;
}

/*
summary::marker {
  display: none;
}

summary::-webkit-details-marker {
  display: none;
}*/

/*create post/edit post*/
.create-post,
.edit-post {
  max-width: 600px;
}

.edit-post-delete-btn,
.edit-post-save-btn,
.submit-post-btn {
  width: 130px;
}

.edit-post-delete-btn {
  margin-top: 0.5rem;
}
