/*Posts user submits*/

.post {
  background-color: rgb(238, 238, 238);
  margin: 0.7rem 0 0.7rem 0;
  padding: 1rem;
  /*line-height: 2rem;*/
}

.user-posts .title {
  display: flex;
  align-items: center;
}

/*
.post .post-info {
  display: flex;
  align-items: center;
}*/

.user-posts .post-info p,
span,
a {
  padding-right: 0.5rem;
}

.comment {
  background-color: rgb(238, 238, 238);
  margin: 0.7rem 0 0.7rem 0;
  padding: 1rem;
}
