/*Posts user submits*/

.post {
  background-color: rgb(238, 238, 238);
  margin: 0.7rem 0 0.7rem 0;

  /*line-height: 2rem;*/
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
}

.top-left {
  display: flex;
  align-items: center;
}

.top-left p,
form {
  padding-right: 0.7rem;
}

.post-content {
  padding: 1rem;
}

.post-content h3 {
  padding-bottom: 0.7rem;
}

.bottom {
  display: flex;
  padding: 0 0 0.5rem 1rem;
  list-style: none;
}

.bottom li {
  padding-right: 0.5rem;
}

.delete-btn {
  border: none;
  text-decoration: underline;
  color: rgb(202, 37, 18);
  padding: 0;
}

.comment {
  background-color: rgb(238, 238, 238);
  margin: 0.7rem 0 0.7rem 0;
  padding: 1rem;
}

.edit-comment {
  display: none;
}

.show-edit {
  display: flex;
}

.comment-text {
  display: flex;
}

.hide-text {
  display: none;
}
