/*Profile*/

.pro-img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #dcdcdc;
  margin-bottom: 1.5rem;
}

.pro-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile .profile-content {
  width: 100%;
}

.user-profile p {
  margin-bottom: 0;
}

.user-profile-offline {
  box-shadow: 0px 2px 7px 2px rgba(61, 61, 62, 0.25);
}

.user-profile-offline ul {
  width: 100%;
}

.update-profile-btn {
  width: 100%;
}
.profile-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 1rem;
}

.profile-list li {
  padding: 0.5rem;
}

/*change password style */

.change-password {
  max-width: 450px;
}

.change-pass-btn {
  width: 100%;
}

.delete-account-btn {
  border: none;
  background-color: transparent;
  color: rgb(202, 37, 18);
  padding: 0;
}

.delete-account-btn:focus,
.delete-account-btn:active,
.delete-account-btn:hover {
  outline: none;
  color: rgb(159, 32, 18);
}

.user-content-buttons {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 500px) {
  .change-password {
    padding: 3rem;
    box-shadow: 0px 2px 7px 2px rgba(61, 61, 62, 0.25);
  }
}
